<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap-5.3.7-dist/css/bootstrap.min.css">
    </head>
    <body>
               {% include 'pages/navbar.html' %}
    
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
         <div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar py-4">
      <ul class="nav flex-column ms-3">
        <li class="nav-item mb-2">
          <!-- <a class="nav-link" href="{% url 'stock' %}">
            <i class="bi bi-box-seam"></i> Manage Stock
             </a> -->

          <a class="nav-link active" aria-current="page" href="{% url 'manager' %}">
            <strong>Dashboard</strong>
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="{% url 'stock' %}">Manage Stock</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="{% url 'approve_requests' %}">Approve Requests</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="{% url 'farmers_list' %}">Farmers</a>
        </li>
      </ul>
    </nav>

    <!-- Main content area -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Your main page content goes here -->
    </main>
  </div>
</div>
        
        <script src="/static/bootstrap-5.3.7-dist/js/bootstrap.bundle.js" async defer></script>
    </body>
</html>