<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Young4Chicks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/static/bootstrap-5.3.7-dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div>{% include 'pages/navbar.html' %}</div>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar py-4">
          <ul class="nav flex-column ms-3">
            <li class="nav-item mb-2">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'salesagent' %}"
              >
                <strong>Dashboard</strong>
              </a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link" href="{% url 'register_farmer' %}"
                >Register Farmer</a
              >
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link" href="{% url 'record_requests' %}"
                >Record Requests</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'approved_sales' %}"
                >Approved Sales</a
              >
            </li>
          </ul>
        </nav>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          {% block content %}
          <!-- Content will be injected here by child templates -->
          {% endblock %}
        </main>
      </div>
    </div>

    <script src="/static/bootstrap-5.3.7-dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
