<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/image/alvioni__fashion_brand_art_design_logo_20250807_232048_0000-removebg-preview.png" class="img_fluid" alt="Logo" style="width: 60px; height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}
          {% if user.user_type == 'manager' %}
            <!-- Manager menu items here -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'manager' %}">Manager Dashboard</a>
            </li>

          {% elif user.user_type == 'sales_agent' %}
            <!-- Sales agent menu items here -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sales_agent_dashboard' %}">Sales Agent Dashboard</a>
            </li>

          {% else %}
            <!-- Young Farmer / Customer -->
            <li class="nav-item">
              <form class="d-flex" method="GET" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" />
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </li>
          {% endif %}
        {% else %}
          <!-- User not logged in -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}

      </ul>

      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
