<tbody>
  {% for request in chick_requests %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ request.farmer_name }}</td>
    <td>{{ request.chick_type }}</td>
    <td>{{ request.chick_quantity }}</td>
    <td>{{ request.chick_date }}</td>
    <td>{{ request.chick_status }}</td>
    <td>{{ request.feed_needed }}</td>
    <td>{{ request.chickperiod }}</td>
    <td>{{ request.chick_delivered }}</td>
    <td>
     <a href="{% url 'record_request_edit' request.id %}" class="btn btn-sm btn-warning">Edit</a>
     <a href="{% url 'delete_request' request.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this Request?');">Delete</a>
     <a href="{% url 'send_request' request.id %}" class="btn btn-sm btn-success">Send Request</a>

    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="10">No requests found.</td>
  </tr>
  {% endfor %}
</tbody>
